<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="" href="/">
                <!--
                <img class="hidden-xs" alt="Les Mills Asia Pacific" style="width: 130px; margin:15px;" src="{{ asset('img/lmap_logo.png') }}">
                <img class="visible-xs" alt="Les Mills Asia Pacific" style="width: 130px; float:left; margin:15px;" class="" src="{{ asset('img/lmap_logo.png') }}">
                -->
            </a>
        </div>

            <!-- THIS IS THE AUTHENTICATED MENU -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" style="margin-top:5px;margin-left:10px;">
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Details<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="https://webapps.lesmills.com.au/custupdate">Update My Details</a>
                            </li>

                            <li>
                                <a href="https://webapps.lesmills.com.au/employment">Jobs Board</a>
                            </li>

                            <li>
                                <a href="https://webapps.lesmills.com.au/trainingstore/my_training">My Training</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Workshops<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="https://webapps.lesmills.com.au/wsrego">Online Workshop Registration</a>
                            </li>
                            <li>
                                <a href="https://www.lesmills.com.au/workshops">Workshop Schedule</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Music<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="https://webapps.lesmills.com.au/store">Online Store</a>
                            </li>
                            <li>
                                <a href="https://www.lesmills.com.au/digitalkitportal">Digital Kit Portal</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Training<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="https://webapps.lesmills.com.au/trainingstore">Training Store</a>
                            </li>
                            <li>
                                <a href="https://www.lesmills.com.au/master-list">Training Schedule</a>
                            </li>
                            <li>
                                <a href="https://webapps.lesmills.com.au/trainingstore/my_training">My Training</a>
                            </li>
                            <li>
                                <a href="https://cdn.lesmills.com.au">Training Resources</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Online Exams</li>
                            <li>
                                <a href="https://webapps.lesmills.com.au/quart">CEC Exams</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Contractor Tools</li>
                            <li>
                                <a href="https://cdn.lesmills.com.au">Contractor Resources</a>
                            </li>
                            <li>
                                <a href="https://webapps.lesmills.com.au/contractorportal">Contractor Portal</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clubs<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="https://www.lesmills.com.au/brandcentral" target="_blank">
                                    Brand Central
                                </a>
                            </li>
                            <li>
                                <a href="http://www.youtube.com/watch?v=EqN02Mhi9RY" target="_blank">
                                    Recruiting Instructors
                                </a>
                            </li>
                            <li>
                                <a href="http://www.youtube.com/watch?v=DDX71z6i2Tw" target="_blank">
                                    Selling With Events
                                </a>
                            </li>
                            <li>
                                <a href="http://www.youtube.com/watch?v=LnlugG2F9YQ" target="_blank">
                                    Program Implementation Module
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="https://www.lesmills.com.au/contact">Contact</a>
                    </li>
                    <li>
                        <a href="">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>

    </div>
</nav>
<div style="clear:both;"></div>
<br><br>